<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>raw_view</title>
</head>
<body>
  <div id='app'>
    <ul>
      <li v-for='product in products'>
        <input type="text" v-model.string="product.lastName" />
        {{ product.lastName }} 
        <span v-if='product === "Brand"'>
          <-- brand
        </span>
        <button @click="product.lastName += 'happy'">
          button
        </button> 
      </li>
    </ul>
 
    <div> {{ allParticipantFullName }} </div>
  </div>  
  <script src="https://unpkg.com/vue"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        products: []
      }, 
      computed: {
        allParticipantFullName() {
          return this.products.reduce((names, el) => {
            console.log(el);
            return names + '/' + el.firstName + ' ' + el.lastName;
          },'');
        }
      },
      created() {
        fetch('https://dummyapi.io/data/api/user', {
          headers: {
            'app-id': ''
          }
        }).then(res => {
          return res.json();
        }).then(json => {
          const resData = json.data.map(el => {
            return { lastName: el.lastName, firstName: el.firstName} ;
          })
          console.log(json);
          this.products = resData;
        })
      }
    })


  </script>
</body>
</html>
